/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 html, body {
 	height: 100%;
 }
/* .graphsProject {
 	width: 100%;
 	height: 100%;
 	display: flex;
 	flex-direction: row;
 }
 .graphsOptions {
 	width: 50%;
 	padding-top: 20px;
 }
 .graphsDiv {
 	width: 50%;
 }*/


 /**
  * Mishuk
  */

 div#gl-admin-meta-box {
    padding: 1% 2%;
 	background: #fff;
 	display: none;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 95%;
    height: 94.5%;
    overflow-y: scroll;
    z-index:  99999999999999;
}

div#gl-admin-meta-box h2.hndle{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

button.close_graph_modal {
    float: right;
    border: 0;
    display: inline-block;
    padding: 7px 15px;
    position: absolute;
    right: 10px;
    top: 12px;
    color: #060606;
    cursor: pointer;
    font-weight: bold;
    background: #fff;
    font-size: 25px;
}

button.saveGraphData {
    background: #3472aa;
    color:  #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 2px;
    font-weight:  bold;
    cursor: pointer;
}